*{
  outline: none;
  padding: 0;
  margin:0;
}

.form-search-from-navbar{
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
width: 100%;

}
.form-inline  .navbar-header-input{
width: 100%;
}
.navbar-dark .navbar-brand{
  color: rgba(255, 175, 0, 1)

}
.navbar-dark .navbar-brand:hover{
  color: rgba(255, 175, 0, 1)

}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffbd43;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 174, 0, 0.25);
}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255, 175, 0, 0.65)
}
.navbar-dark .navbar-nav .active>.nav-link{
  color: rgba(255, 175, 0, 1)
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgba(255, 175, 0, 1)
}

.navbar-avatar{
  display: grid;
  align-items: center;
  justify-items: center;
  width: 40px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: #495057;
  height: 40px;
}
.navbar-avatar:hover{
  background-color: #d39e00;;
}
.navbar-avatar img{
  max-width: 30px;
  max-height: 30px;
  border-radius: 4px;

}
.navbar-nav-ul{
  margin-right: 10px;

}
@media (max-width: 991px) { 
  .navbar-nav-ul{
    margin-bottom: 10px;
  
  }
  .navbar-avatar{
    margin-top: 10px;
    margin-left: 0;
  }
}




/* Home */

.questionsComponent{
  display: grid;
  justify-items: center;
  width:100%;
}


.questionsControl{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.questionsControlOrder{
  
}

.questionsControlSortBy{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: end;
}

.questionsQuestions{
  display: grid;
  justify-items: center;
  width:100%; 
  align-items: center;

}
.QuestionRow{
  display: grid;
  max-width: 820px;
  width: 100%;
  grid-template-columns: 25fr 55fr; 
  grid-template-areas: "cubes question"
    "about about";
  padding: 10px 0;
}
@media screen and (max-width: 820px) {
  .QuestionRow{
    padding: 15px 0;
    grid-template-columns: 1fr;
    grid-template-areas:"cubes"
    "question"
    "about";
    max-width: 100%;
    row-gap: 20px;

  }
}
.questionsQuestions .QuestionRow.under-line{ 
  border-bottom: 1px solid #343a40;

}
.QuestionRowActivity {
  text-align: center;
  grid-area: cubes;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.QuestionAbout{
  margin: 10px;
  padding: 10px;
  background-color: #a0a0a059;
  border-radius: 5px;
  grid-area: about;
  max-width: 100%;
}

ul{
  list-style: none;
}
.QuestionAbout *{
  max-width: 88vw;
}
.QuestionAbout pre{
  width:100%;
}
.QuestionAbout pre{
  padding: 5px;
  background-color: #ffffff67;

}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #f7aa06;
  border-radius: 10px;
}

.QuestionAbout img{
  max-width: 100%;
}
.QuestionRowActivity > div {
display: grid;
align-items: center;
justify-items: center;
}

.QuestionRowActivity > div > div{
  padding: 10px;
  border-radius: 5px;
}

.QuestionRowActivity > div.answered > div{
  background: #5eba7d;
  color: white;
}

.QuestionRowBody{
  display: grid;
  grid-area: "question";
  padding-right: 10px;
  
}
ul.QuestionRowBodyTags{
  list-style: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
ul.QuestionRowBodyTags li{
  margin: 4px;
  padding: 2px 10px;
  border-radius: 4px;
  background: #ffc107;
}

ul.QuestionRowBodyTags li a{
  text-decoration: none;
  color: black;
  
}
.QuestionRowBodyMetaInfo{
  display: grid;
  
  justify-items: end;
  grid-template-columns:1fr auto auto;
  column-gap: 10px;
}

.questionsControlSortBy .active{
  background-color: lime;
}







.TagsMap{
  display: flex;
  justify-content: center;
  padding: 0 50px;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
}
.TagComponent a{
  color:rgba(255, 175, 0, 0.65);
  font-size: 24px;
  text-transform: uppercase;
}

.TagComponent a:hover{
  color:rgba(255, 175, 0, 1);
  text-decoration: none;
}
.TagComponent{

  width: 330px;
  grid-template-rows: auto 1fr auto;
  row-gap: 5px;
  display: grid;
  margin:5px;
  padding: 5px 10px;
  background:#343a40;
  border-radius: 4px;
  color: white;
}
.TagComponentWiki{
  font-size: 14px;
  height:100%;
  
}
.TagComponentQuestions{
  text-align: right;
}









.UsersMap{
  display: flex;
  justify-content: center;
  padding: 0 30px;
  flex-wrap: wrap;
  align-items: stretch;
}

.UserCell{
  position: relative;
  margin: 5px;
  max-width: 330px;
  width:100%;
}
.UsersComponent{
  
}
.UserCellShell.absolute{
  position: absolute;
  z-index: 10;

}
.UserCellShell{
  background: grey;
}
.FirstInfo{
  display:grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  column-gap: 10px;
}

.FirstInfo img{
  width: 100%;
  border-radius: 5px;
}

.ulUserCell{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}

.ulUserCell li{
  margin: 1px;
  padding: 1px 12px; 
  color: white;
  background: #d39e00;
}